<style type="text/css">
    thead td {
        font-weight: bold;
    }
    td {
        text-align: center;
    }
    .fa-check {
        color: green;
    }
    .fa-times {
        color: red;
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        Users
    </div>
    <div class="panel-body">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add User</button>
        <table class="table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Address</td>
                    <td>Member</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users" ng-show="users">
                    <td>{{ user.name }}</td>
                    <td>{{ user.address }}</td>
                    <td><i ng-class="user.member == true ? 'fa fa-check' : 'fa fa-times'"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title" id="myModalLabel">Add User</h4>
        </div>
        <div class="modal-body">
           <form class="form-horizontal">

              <div class="form-group">
                 <label for="inputEmail3" class="col-sm-3 control-label">Name</label>
                 <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="Fullname" ng-model="formData.name">
                 </div>
              </div>
              <div class="form-group">
                 <label for="inputEmail3" class="col-sm-3 control-label">Address</label>
                 <div class="col-sm-9">
                    <textarea class="form-control" placeholder="Full Address" ng-model="formData.address"></textarea>
                 </div>
              </div>
              <div class="form-group">
                 <label for="inputEmail3" class="col-sm-3 control-label">Member</label>
                 <div class="col-sm-9">
                    <input type="radio" ng-model="formData.member" name="member" ng-value="true" />
                    <input type="radio" ng-model="formData.member" name="member" ng-value="false" />
                 </div>
              </div>
           </form>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           <button type="button" class="btn btn-primary" id="btn-save" ng-click="saveUser()" data-dismiss="modal">Save changes</button>
        </div>
     </div>
  </div>
</div>