<style type="text/css">
    thead td {
        font-weight: bold;
    }
    td {
        text-align: center;
    }
    .fa-check {
        color: green;
    }
    .fa-times {
        color: red;
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        Users
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Address</td>
                    <td>Member</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users" ng-show="users">
                    <td>{{ user.name }}</td>
                    <td>{{ user.address }}</td>
                    <td><i ng-class="user.member == true ? 'fa fa-check' : 'fa fa-times'"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>